<DOCTYPE html>
    <html>
<head>
    <link rel="stylesheet" href="/css/style.css"></head>
    <title>about</title>
    <body>
      {{>header}}
        <img class="port" src="/img/fb1.jpg">
    </html>