<DOCTYPE html>
    <html>
<head>
    <link rel="stylesheet" href="/css/style.css"></head>
    <title>about</title>
    <body>
      {{>header}}
      <p>this site is created by mausam it use data from mapbox.com and darksky.net</p>
        <img class="port" src="/img/fb1.jpg">
    </html>